body {
    background-color: aqua;
}

div{
    border: 1px solid black;
    width: 320px;
    border-radius: 10px;
}

.q{
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 280px;
    box-shadow: 10px 10px;
}
#r{
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}
#s{
    background-color: yellow;
    height: 18px;
    width: 60px;
    border: 3px solid yellow;
    border-radius: 5px;
}
#m{
    padding-bottom: 15px;
    margin-bottom: 0px;
}
#p{
    border-radius: 50%;
}
#f{
    padding-right: 10px;
}
.k{
    border: 0px solid;
    border-radius: 8px;
}
